@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');


/* ---- reset ---- */
*{
  font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  font-family: 'Work Sans', sans-serif;
  text-shadow: #000;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 0;
  /* bottom = footer height */
  /* padding: 25px; */
}

/* MOBILE FIRST */
.container-wrapper {
  box-sizing: border-box;

  background: #2c2c54;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  box-sizing: border-box;

  background: #2c2c54;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* TABLET */
@media (min-width: 1200px) {
  body {
    background: #2c2c2c;
    height: 100%;
  }
  .container-wrapper {
    box-sizing: border-box;

    background: #2c2c54;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    margin: auto;
  }
}

.container-tournaments {
  overflow-y: scroll;
  box-sizing: content-box;
}

/* Forms */

input[type='text'],
input[type='number'],
input[type='file'],
input[type='submit'],
input[type='password'] {
  font-size: 1em;
  text-align: center;
  color: whitesmoke;
  /* border: none !important; */
  box-shadow: 10px solid black inset;
  border: none;
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin: 1vh auto;
  height: 4vh;
  padding: 2%;
}

input[type='text']::placeholder {
  color: gray;
  font-size: 16px;
}

.inputfile {
  width: 100px;
  height: 100px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-icon {
  margin: auto;
  padding-left: 15px;
}

.inputfile + label {
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
}

input[type='file'] {
  width: 50%;
  /* color:yellow; */
  /* border: 1px solid white; */
}

/* input[type='file'] label {
  color: white;
} */

input[type='file']::placeholder {
  color: white;
}

.inputfile:focus + label,
.inputfile + label:hover {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

label {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 0 5%;
}

.credentials {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.credentials label {
  text-align: center;
  display: block;
}

.credentials .button {
  text-align: center;
  display: block;
  margin: 10px auto;
}

.tournament-image {
  width: auto;
  height: 60px;
  margin: 15px;
}

.tournament-image-small {
  width: 10vw;
  margin: 2vw;
}

/* TOURNAMENT CELLS */

.pop-up-form {
  box-shadow: 1px 5px 10px black;
  background-color: teal;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;*/
  height: 30vh;
  /* height: 300px; */
  width: 90%;
  border-radius: 4px;
  margin: 0 auto;
}

.tournament-cell {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  cursor: pointer;
  flex-shrink: 1;
  border-radius: 4px;
  margin: 8px;
  height: 6vh;
  background-color: rgba(60, 69, 201, 0.2);
  /* box-shadow: 1px solid white; */
}

.no-background {
  background-color: rgba(60, 69, 201, 0);
  padding: 0;
}

.no-background p {
  color: teal;
}

.no-background > div {
  margin-top: 25px;
}

.tournament-cell-section {
  overflow: auto;
  margin: auto;
}

.player-name {
  margin: auto;
}

.tournament-cell img {
  margin: auto;
  padding: 2px;
  max-width: 50%;
}

.tournament-cell a {
  text-decoration: none;
}

/* PSEUDO BRACKETS --------------- */

.game-tables {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin: 10px;
}

.game-cell {
  /* background-color: #003ace88; */
  border: 1px solid black;
  padding: 5px;
  margin: 20px auto;
  width: 80%;
  height: 150px;
  border-radius: 10px;
  /* box-shadow: 0 9px #999; */
}

.scores-line {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin: 10px;
}
.gap {
  height: 20px;
  width: 100%;
}

.player-card {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.player-card img {
  height: 50px;
  text-align: left;
}

.player-card p {
  text-align: right;
}
